/Temp
/Logs
/obj
/Library
/build1
/build
/.vs
/Packages/com.footstone.tankshared
/Packages/com.unity.entities@0.1.1-preview
/*.csproj
/*.sln
/Packages
/Assembly-CSharp.csproj.user
/Server.sln.DotSettings.user
/_ReSharper.Caches
